extends layouts/main-layout.pug
block content
    main
        if prods.length >0
            .grid
                each product in prods
                    article.card.product-item
                        header.card__header
                            h1.product__title #{product.title}
                        div.card__image
                            img(src="https://st2.depositphotos.com/1105977/5461/i/600/depositphotos_54615585-stock-photo-old-books-on-wooden-table.jpg" ,alt="A book")
                        div.card__content
                            h2.product__price $19.22
                            p.product__description A book 
                        .card__actions
                            button.btn Add to cart 
        else
            h1 No Products